<div class="screen game-top">
  <div class="stars">
    <div class="star" ng-repeat="star in stars" style="position: absolute; top:{{starLocations[$index].top}}px; left:{{starLocations[$index].left}}px">
      <a href="/star/{{star.id}}">
        <img src="/img/{{star.img}}"><br>
        {{star.name}}</a>
    </div>
  </div>
  <span class="year">銀河歴 {{year}}億年
    <span ng-if="year_limit - year < 10">(A星消滅まであと{{year_limit - year}})</span>
  </span>
  <div class="money">所持金: {{money}}億銀河ドル</div>
  <div class="information-bar">
    <div>
      <ul class="stocks">
        <li class="stock" ng-repeat="(id, num_of_stock) in stocks">{{stars[id].name}}: {{num_of_stock}}株</li>
      </ul>
      持ち株価格合計: {{estimatedStockPrice()}}億銀河ドル
    </div>
  </div>
  <a class="pure-button pure-button-primary sell-button" href="/sell">株を売る</a>
</div>
